<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{chat.name}}">
  <ion-content class="padding">
    <img src="../img/interrogante.jpg" style="width: 64px; height: 64px">
    <p>
      <head>
  <title>Firebase Chat Example</title>
  <script type="text/javascript" src="https://cdn.firebase.com/v0/firebase.js"></script>
  <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
  <link rel="stylesheet" type="text/css" href="https://www.firebase.com/css/example.css">
</head>
<body>
<div id='messagesDiv'></div>
<textarea name="comentarios" rows="10" cols="40" id='messageInput' placeholder='Message...'></textarea>
<input type='button' id='enviar' value='Enviar' ng-onClick='Click()'>
<script type='text/javascript'>

  // Aca ponemos la referencia a su firebase
  var messagesRef = new Firebase('https://chatandroid-7506b.firebaseio.com/usuarios/');

  // Cuando presionen el ENTER , guardamos los datos en firebase.
  $('#enviar').click(function (e) {
      {
      var name = $('#nameInput').val();
      var text = $('#messageInput').val();
      var fecha = Firebase.ServerValue.TIMESTAMP;
      console.log(fecha);
      messagesRef.push({usuario:name, mensaje:text, fechaIngreso:fecha});
      $('#messageInput').val('');
    }
  });

  // agregamos la funcion que funciona de callback que es disparada por cada mensaje de chat.
  messagesRef.on('child_added', function (snapshot) {
    var message = snapshot.val();
    var fecha = new Date(message.fechaIngreso);
    var hora = fecha.getHours();
    var minutos = fecha.getMinutes();


    $('<div/>').text(message.mensaje +"->"+hora+":"+minutos).prepend($('<em/>').text(message.usuario+': ')).appendTo($('#messagesDiv'));
    $('#messagesDiv')[0].scrollTop = $('#messagesDiv')[0].scrollHeight;
  });
</script>
</body>
    </p>
  </ion-content>
</ion-view>

